h1 {
    display: flex;
    justify-content: center;
}

.campus_map {
    width: 100%;
    margin-top: 20px;
}

.g2F {
    width: 100%;
    margin-top: 50px;
}




.footer-001 {
    margin-top: 20px;
    display: flex;
    padding: 0px 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* padding: 25px 10px 10px; */
    background-color: #008580;
}

.home {
    display: flex;
    align-items: center;
    width: 80px;
    height: 90px;
    border: none;
    background-color: #008580;
    cursor: pointer;
}

.map {
    display: flex;
    align-items: center;
    width: 90px;
    height: 90px;
    border: none;
    background-color: #008580;
    cursor: pointer;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border: none;
    background-color: #008580;
    cursor: pointer;
}

.ruler {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border: none;
    background-color: #008580;
    cursor: pointer;
}

.user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border: none;
    background-color: #008580;
    cursor: pointer;
}




