body {
    margin: 24px;
  }

  header{
    background-color: #008580B2;
    width: 720px;
    height: 59px;
    flex-shrink: 0; 
  }

  footer{
    background-color: #008580;
    width: 720px;
    height: 89px;
    flex-shrink: 0; 
  }
  .logo {
    background-color: #008DB7;
    width: 720px;
    height: 1200px;
  }
  footer button{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: none;
    background-color: #008580;
    cursor: pointer;
  }
.home {
  height: 90%;
  width: 100px;
  margin-left: 10%;
}
.user-icon {
  height: 90%;
  width:100px;
  margin-left: 10%;
 } 
.map {
  height: 90%;
  width: 100px;
  margin-left: 10%;
}
.search {
  height: 90%;
  width: 100px;
  margin-left: 10%;
}